body {
    background: linear-gradient(90deg, rgba(72,63,226,1) 0%, rgba(131,131,239,1) 35%, rgba(119,181,235,1) 64%, rgba(7,196,232,1) 100%);;
    font-family: 'Poppins', sans-serif;
}
.card {
    background: linear-gradient(90deg, rgba(72,63,226,1) 0%, rgba(131,131,239,1) 35%, rgba(119,181,235,1) 64%, rgba(7,196,232,1) 100%);;
}
.catBtn {
    background: linear-gradient(90deg, rgba(72,63,226,1) 0%, rgba(131,131,239,1) 35%, rgba(119,181,235,1) 64%, rgba(7,196,232,1) 100%);;
    
    display: -ms-inline-grid;
    align-items: center;
    justify-content: space-evenly;
    left: auto;
    right: auto;
}
.catBtn button {
    padding: .6rem 1.58rem ;
    color: grey;
    background-color: white;
    border: solid black;
    cursor: pointer;
    /* box-shadow: 2px; */
}

.getBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.getBtn button {
    padding: .5rem 1.5rem ;
    color: #fff;
    background-color: #000;
    border: solid;
    border-radius: 4px;
    cursor: pointer;
}

.newsMaterial {
    padding: 1rem 2rem 2rem;
    background: #000;
    text-align: left;
    border-radius: 10px;
    color: black;
}
.newsMaterial h1 {
    color: white;
    text-transform: capitalize;
    text-align: center;
}
.newsMaterial h2 {
    color: white;
    font-family: poppins;
    font-weight: 300;
    text-align: left;
}
.newsMaterial a {
    font-size: 0.8rem;
    padding-left: 1.2rem;
    cursor: pointer;
}
.newsMaterial div {
    font-size: .8rem;
    list-style-type: none;
    text-align: left;
    padding: .2rem;  
    color: #fff; 
}
.newsMaterial picture{
    background-color: #fff;
    max-width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}



